@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{padding:0;margin:0;}
body{margin:0;padding:0;overflow-x:hidden;
  font-family: "IBM Plex Sans", serif !important;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}





.main-page-div { height: 100vh; }
.main-page-div-inner { position: absolute; left: 50%; transform: translate(-50%, -50%); top: 50%; }



.top-bar-with-logo { margin-top: 60px; }
.top-bar-with-logo a img { max-width: 300px; }
.hexa-secure-logo img { max-width: 600px; width: 100%; }
.hexa-secure-logo_menu img { max-width: 500px; width: 100%; }
.secure-menu-button a { background: #000000; text-decoration: none; color: #ffffff; padding: 15px; min-width: 150px; display: inline-block; border-radius: 15px; font-weight: bold; }
.secure-menu-button { margin-bottom: 60px; }
.secure-menu-button a { background: #000000; text-decoration: none; color: #ffffff; padding: 15px; min-width: 200px; display: inline-block; border-radius: 15px; font-weight: bold; font-size: 18px; }
.secure-check-footer .container { max-width: calc(100% - 50px); }
.secure-check-footer { background: #000000; }
.secure-check-footer p { color: #ffffff; text-align: right; max-width: 200px; float: right; margin: 0 0 0 0; padding: 12px 0 12px 0; }
.secure-check-footer p span { color: #ffffff; text-align: left; width: 100%; display: inline-block; }

.top-bar-navbar { margin: 15px 0 15px 0; }
.top-bar-navbar nav.navbar.navbar-expand-lg { background: transparent !important; }
.top-bar-navbar a.navbar-brand img { width: 100%; max-width: 120px; }
.top-bar-navbar div#navbarSupportedContent { flex-grow: 0; }
.top-bar-navbar nav.navbar ul.navbar-nav li { margin-left: 15px; }
.top-bar-navbar nav.navbar ul.navbar-nav li a.nav-link { background: #000000; color: #ffffff; border-radius: 8px; font-weight: bold; padding: 5px 15px 5px 15px; }
body .hexa-secure-logo-bottom { margin: 70px 0 150px 0; }

.controler-image { position: relative; }
.hexa-secure-logo-bottom ul { padding: 0; position: absolute; top: 0; width: 100%; margin: 0; height: 100%; max-width: 600px; left: 50%; transform: translate(-50%, 0px); }
.hexa-secure-logo-bottom ul li { list-style-type: none; width: auto; float: left; text-align: center; max-width: 115px; }

.hexa-secure-logo-bottom ul li a { width: 100%; display: inline-block; text-decoration: none; }
.hexa-secure-logo-bottom ul li img { max-width: 85px; width: auto; }
.hexa-secure-logo-bottom ul li p { margin: 0; color: #000000; text-decoration: none; font-size: 14px; }
.hexa-secure-logo-bottom ul li:nth-of-type(1) { position: absolute; left: 1%; top: 23%; }
.hexa-secure-logo-bottom ul li:nth-of-type(2) { position: absolute; left: 14%; top: 6%; }
.hexa-secure-logo-bottom ul li:nth-of-type(3) { position: absolute; left: 29%; top: -3% !important; }
.hexa-secure-logo-bottom ul li:nth-of-type(4) { position: absolute; left: 42%; top: -7%; }
.hexa-secure-logo-bottom ul li:nth-of-type(5) { position: absolute; right: 27%; top: -11%; }
.hexa-secure-logo-bottom ul li:nth-of-type(6) { position: absolute; right: 12%; top: -14%; }
.hexa-secure-logo-bottom ul li:nth-of-type(7) { position: absolute; left: 3%; bottom: -21%; }
.hexa-secure-logo-bottom ul li:nth-of-type(8) { position: absolute; left: 20%; bottom: -17%; }
.hexa-secure-logo-bottom ul li:nth-of-type(9) { position: absolute; bottom: -12%; right: 46%; }
.hexa-secure-logo-bottom ul li:nth-of-type(10) { position: absolute; right: 29%; bottom: -8%; }
.hexa-secure-logo-bottom ul li:nth-of-type(11) { position: absolute; right: 10%; bottom: 0%; }
.hexa-secure-logo-bottom ul li:nth-of-type(12) { position: absolute; right: 3%; bottom: 18%; }
.hexa-secure-logo-bottom ul li:nth-of-type(13) { position: absolute; right: -8%; top: 43%; }
.hexa-secure-logo-bottom ul li:nth-of-type(14) { position: absolute; right: -4%; top: 23%; }
.hexa-secure-logo-bottom ul li:nth-of-type(15) { position: absolute; left: 0%; top: 47%; }

body .scanner-bg-black { margin: 20px auto 30px auto; max-width: 450px; background: #000000; padding: 45px 35px;  color:#ffffff;}
.scanner-logo-image img { width: 100%; max-width: 160px; margin: 0 0 30px 0; }
.scanner-image {margin-bottom: 20px;}
.scanner-image img { max-width: 200px; }
.scanner-text { margin: 70px auto 40px auto; text-align: left; max-width: 346px; width: 100%; }
.scanner-text p { font-size: 16px; color: #ffffff; }
.scanner-secure-image { float: left; text-align: left; }
.scanner-secure-image img { width: 100%; max-width: 35px; }
.custom-next-link { margin: 0 0 60px 0; }
.custom-next-link a { background: #000000; min-width: 170px; display: inline-block; border-radius: 12px; padding: 10px 15px; color: #ffffff; text-decoration: none; font-size: 18px; font-weight: bold;transition: 300ms linear all; }
.custom-next-link a img { margin: 0 0 0 6px; width: 25px; }
.custom-next-link a:hover { box-shadow: 0px 5px 15px #efefef; transition: 300ms linear all; }


.scanner-area-new .scanner-logo-image { float: left; width: 100%; display: flex; }
.scanner-area-new .scanner-left { width: 50%; text-align: left; }
.scanner-area-new .scanner-left img { margin: 0; max-width: 100px; }
.scanner-area-new .scanner-right { float: left; width: 50%; text-align: right; }
.scanner-area-new .scanner-right span:nth-of-type(1) { color: #ffffff;font-size:16px; line-height: 16px;}
.scanner-area-new .scanner-right span:nth-of-type(2) { color: #ffffff; font-size: 22px; line-height: 16px; }

.scanner-texts { 
    float: left; width: 100%;
     /* margin: 40px 0 0 0;  */
    }
.scanner-texts h5, .scanner-texts h3 { margin: 0; }
.scanner-texts h5 { font-size: 18px; }
.scanner-texts h3 {
    font-size: 20px;
    margin: 0 0 30px 0;
    word-break: break-word;
    font-weight: 500;
}
.scanner-texts p:nth-of-type(1) { margin: 0 0 30px 0; }
.scanner-image { float: left; width: 100%; text-align: center; margin: 20px 0 0 0; }
/*table*/

.table-parent {
    border: 1px solid #b9b0b0;
    border-radius: 15px;
    padding: 25px 20px;
    background: #ffffff;
	overflow:hidden;
}
div#example_wrapper {
    overflow-x: scroll;
}
div#example_wrapper div#example_length select {
    height: 45px;
    min-width: 80px;
    border-radius: 10px;
	border: 2px solid #333333;
    box-shadow: none;
    outline: none;
}
div#example_wrapper div#example_filter input[type="search"] {
    height: 45px;
    border-radius: 10px;
    border: 2px solid #333333;
    box-shadow: none;
    outline: none;
    padding: 5px 10px;
}
.table-parent td.sorting_1 {
    background: #0097b90a !important;
    font-weight: 500;
}
.table-parent tfoot th {
    padding-left: 10px !important;
}
.table-parent tfoot input {
    height: 45px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000000;
	width:100%;
}
table#example {
    margin-bottom: 15px;
}
div#example_info {
    margin-bottom: 35px;
}
div#example_paginate {
    padding-bottom: 25px;
}
table.dataTable tbody td a img {
    height: 15px;
}
table.dataTable tbody td:nth-of-type(5) a img {
    height: 25px;
}
table.dataTable tbody td:nth-of-type(8) a img {
    height: 25px;
}
table.dataTable tbody td {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/**/

section.secure-datatable-heading-back .col.col-12.col-md-12.col-sm-12 {
    align-items: center;
    display: flex;
    margin: 0 0 25px 0;
}
.center-heading {
    text-align: center;
}
.secure-datatable-heading-back .col.col-12.col-md-12.col-sm-12 > div {
    width: 33.33%;
    float: left;
}
.left-back img {
    background: #ffffff;
    padding: 5px 20px;
    max-height: 35px;
    border-radius: 10px;
    box-shadow: 0px 5px 17px #e1e1e1;
}
.left-back img:hover {
    background: #ffffff;
    padding: 5px 20px;
    max-height: 35px;
    border-radius: 10px;
	opacity:0.9;
}
.container .table_compdata {
    overflow-x: scroll;
    width: 100%;
}
table.table.table-striped {
    width: 100%;
    overflow-x: scroll ! IMPORTANT;
}
.scanner_camera h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}
.scanner_camera {
    max-width: 600px;
    margin: auto;
    padding-bottom: 30px;
}
.scanner_camera p {
    text-align: center;
    margin: 0;
}
.detail-area .detail-area-inner form .form-input-box input {
    padding: 20px !IMPORTANT;
    font-family: "IBM Plex Sans", serif !important;
}
.container.user_attendence {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/***********************Login-Page******************/
.login-div-sec { margin-top: 25px; margin-bottom: 70px; }

.login-div-sec .row {
    display: flex;
    align-items: center;
}

.login-div .row {
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 9px 25px #d5d5d5;
    padding: 30px 0 50px 0;
}
.login-card-inner {
    text-align: center;
}
.login-div .row .col-left img {
    width: 100%;
	max-width:90%;
}
.detail-area .detail-area-inner {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

form {
    position: relative;
    display: block;
}
.form-input-box {
    width: 100%;
    /* max-width: 260px; */
    margin: 30px auto;
    position: relative;
}
.form-input-box input {
    display: block;
    width: 100%;
    min-height: 35px;
    border: none;
    padding: 0 15px;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 2;
}
.form-input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%) scale(1);
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    cursor: auto;
    letter-spacing: 0.05em;
}
.label-animate-out {
  animation: label-animate-out 200ms ease-in-out forwards; }

@keyframes label-animate-out {
  from {
    transform: translate(0, -50%) scale(1);
    top: 50%;
    left: 20px; }
  to {
    transform: translate(0, 30%) scale(0.8);
    top: 0;
    left: 10px; } }

.label-animate-in {
  animation: label-animate-in 200ms ease-in-out forwards; }

@keyframes label-animate-in {
  from {
    transform: translate(0, 30%) scale(0.8);
    top: 0;
    left: 10px; }
  to {
    transform: translate(0, -50%) scale(1);
    top: 50%;
    left: 20px; } }

.opac-in {
  animation: opac-in 5s ease-in-out forwards; }

@keyframes opac-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.detail-area .detail-area-inner {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.detail-area .detail-area-inner .logo h1 {
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 35px;
    color: #000000;
}
.detail-area .detail-area-inner form .form-input-box {
    background: transparent;
    border-radius: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.detail-area .detail-area-inner form p {
    text-align: right;
    margin-top: -17px;
}
.detail-area .detail-area-inner form p a {
    color: #978d8d !important;
    text-decoration: none;
    font-family: 'Avenir';
    font-weight: 900;
}
.detail-area .detail-area-inner form .form-input-box input[type="submit"]:hover {
    opacity: 0.9;
}
.detail-area .detail-area-inner form .form-input-box:last-child {
    background: transparent;
}
.detail-area .detail-area-inner form .form-input-box input[type="submit"] {
    background: #000000;
    padding: 12px 40px !important;
    max-width: 150px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.detail-area .detail-area-inner form input[type="text"] {
    height: 50px;
    border-radius: 8px;
    color: #000000;
    padding: 20px 20px 5px 20px;
    font-family: 'Avenir';
    font-weight: 900;
	    border: 2px solid #000000;
}
.detail-area .detail-area-inner form input[type="email"] {
    height: 50px;
    border-radius: 8px;
    color: #000000;
    padding: 20px 20px 5px 20px;
    font-family: 'Avenir';
    font-weight: 900;
	border: 2px solid #000000;
}
.detail-area .detail-area-inner form input[type="file"] {
    height: 50px;
    border-radius: 8px;
    color: #000000;
    padding: 20px 20px 5px 20px;
    font-family: 'Avenir';
    font-weight: 900;
	border: 2px solid #000000;
}
.detail-area .detail-area-inner form input[type="password"] {
    height: 50px;
    border-radius: 8px;
    color: #000000;
    padding: 20px 20px 5px 20px;
	border: 2px solid #000000;
}
.detail-area .detail-area-inner form label {
    color: #978d8d !important;
    font-family: 'Avenir';
    font-weight: 900;
}

/* ***********New css******** */

body .scanner-bg-black .capture-button {
    margin-top: 20px;
} 	
body .scanner-bg-black .menu-button {
    width: 79%;
    margin-left: -7px;
}
body .scanner-bg-black .capture-button {
    margin-top: 20px;
    width: 80%;
}
#app > div > div > section.hexa-secure-logo_menu.hexa-secure-logo-bottom.text-center > div > div > div > div > ul > li:nth-child(3) {
    top: 86px;
}
.mdc-data-table__table-container {
    max-width: 1140px;
    height: 100%;
    overflow-y: scroll;
}
.container .table_compdata {
    background-color: var(--mdc-theme-surface, #fff);
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: var(--mdc-shape-medium, 4px);
    margin-bottom: 30px;
}
section.request-meeting.meeting-form form label {
    width: 100%;
    margin-top: 0;
    color: #000000;
    font-weight: 600;
}
section.request-meeting.meeting-form form input, section.request-meeting.meeting-form form select {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    padding: 10px;
    font-family: "IBM Plex Sans", serif !important;
}
section.request-meeting.meeting-form form .event_button {
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
section.request-meeting.meeting-form form .event_button input[type="submit"] {
    width: fit-content;
    background: #000000;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
section.request-meeting.meeting-form form > div {
    float: left;
    width: 50%;
    padding: 0px 20px 0px 20px;
    margin: 0;
    min-height: 95px;
}
section.request-meeting.meeting-form form .submit-button input[type="submit"] {
    background: #000000;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    padding: 10px 20px;
}
section.request-meeting.meeting-form .align-items-center h3 {
    font-size: 2rem;
}
section.request-meeting.meeting-form .align-items-center {
    justify-content: center !IMPORTANT;
}               
.box12 {
    justify-content: center;
}
.qr_form_main form.mt-5 .event_button.bt_bottom {
    margin-top: 0px !important;
}
.qr_form_main form.mt-5{
    justify-content: flex-start !important;
}
.bt_bottom.event_button_new {
    margin-top: 23px !important;
}
.button_devide .request-btn {
    background: #000000;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    width: fit-content;
}
.button_devide {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    gap: 20px;
}  
.main_box-sec {
    max-width: 600px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.main_box-sec .input_box-ec input {
    width: 100% !important;
    padding-left: 20px;
}                                               
.main_box-sec .input_box-ec {
    width: 100%;
}
.validate_qrcode {
    margin-bottom: 40px;
}
.request_btn_validate {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.request_btn_validate .request-btn {
    width: fit-content;
    background: #0097b9;
    border-radius: 12px;
}
.request_btn_validate .request-btn-cannel {
    width: fit-content;
    margin: 0;
}
.request_btn_validate .request-btn-cannel a {
    border-radius: 12px;
}
.mdc-data-table {
    margin-bottom: 30px;
}
.validate_qrcode {
    margin-bottom: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.popup-logo.with_scan_cls.request_codescanner {
    margin: 20px auto 30px auto;
    max-width: 450px;
    background: #000000 !IMPORTANT;
    padding: 45px 35px;
    color: #ffffff;
}
.popup-logo.with_scan_cls.request_codescanner {
    margin: 20px auto 30px auto;
    max-width: 450px;
    background: #000000 !IMPORTANT;
    padding: 45px 35px !IMPORTANT;
    color: #ffffff;
}

.popup-logo.with_scan_cls.request_codescanner {
    margin: 20px auto 30px auto;
    max-width: 450px;
    background: #000000 !IMPORTANT;
    padding: 45px 35px !IMPORTANT;
    color: #ffffff;
}
.popup-logo.with_scan_cls.request_codescanner .company_logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popup-logo.with_scan_cls.request_codescanner .company_logo img.logo.logo12333 {
    margin: 0;
    max-width: 120px;
}
.visitor_date_time h4:first-child {
    color: #ffffff;
    font-size: 16px !important;
    line-height: 16px;
    display: block;
}
.visitor_date_time h4.mt-2:last-child {
    color: #ffffff;
    font-size: 18px !important;
    line-height: 16px;
    display: inline-block;
}
.visitor_details {
    padding-top: 30px;
}
.visitor_details h4.mt-2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.visitor_details 
 h4.mt-3 {
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: normal;
    margin-top: 0px !important;
    font-weight: 400;
}
.validate_scanner_button {
    text-align: center;
}
.validate_scanner_button .visitor_button .request-btn {
    display: inline-block;
    max-width: 100%;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
}
.validate_scanner_button .visitor_button .request-btn a {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin: 0 !IMPORTANT;
}   
.validate_scanner_button .visitor_button .request-btn a {
    background: #000 !important;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 100px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    width: 100%;
}
.event_qrcode_button {
    display: flex !important;
    gap: 10px;
    max-width: 569px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
}
.event_qrcode_button {
    display: flex !important
;
    gap: 10px;
    max-width: 450px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
}
.event_qrcode_button .capture-button, .event_qrcode_button .menu-button {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin: 0 !IMPORTANT;
    width: 100%;
    text-align: center;
}
body .scanner-bg-black {
    margin-bottom: 10px !important;
}
section.scanner-area.scanner-area-new .row.align-items-center {
    flex-direction: column;
}
.validate_scanner_button .visitor_button .request-btn.capture-button a {
    background: rgb(0, 123, 255);
}
.text-center.py-2 {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.popup-logo.with_scan_cls.request_codescanner {
    border-radius: 0 !important;
}
.validate_scanner_button .visitor_button {
    display: flex !important
;
    gap: 10px;
    max-width: 454px;
    margin: auto;
    margin-bottom: 30px;
}
.container.user_attendence .d-flex.justify-content-center.py-3 {
    background: #fff;
    border-radius: 4px;
}
.container.user_attendence .d-flex.justify-content-center {
    width: 100% !important;
}
.container.user_attendence .d-flex.justify-content-center.align-items-center {
    margin-bottom: 20px;
}
.container.user_attendence h3.mt-3 {
    margin-top: 0 !important;
}
.request_btn_validate a {
    background: #000 !IMPORTANT;
    color: #fff !IMPORTANT;

}
.popup-logo.with_scan_cls.request_codescanner {
    margin-bottom: 10px;
}

section.hexa-secure-logo-bottom-super ul li:nth-of-type(3) {
    right: 0;
    left: auto;
    top: auto;
    bottom: auto;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(4) {
    left: -22%;
    top: auto;
    bottom: 43%;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(1) {
    left: -2%;
    top: auto;
    bottom: 43%;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(3) {
    left: auto;
    bottom: auto;
    position: absolute;
    right: 20%;
    top: 6% !important;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(6) {
    right: 5%;
    top: auto;
    bottom: 43%;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(8) {
    right: -18% !IMPORTANT;
    top: auto;
    bottom: 43% !IMPORTANT;
    left: auto !important;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(7) {
    position: absolute;
    left: 13% !important;
    bottom: 0 !IMPORTANT;
    top: auto;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(5) {
    position: absolute;
    right: 20% !important;
    bottom: 0 !IMPORTANT;
    top: auto;
}
.hexa-secure-logo-frontdesk ul li:nth-child(1) {
    position: absolute;
    left: 0;
    top: 41%;
}
.hexa-secure-logo-frontdesk ul li:nth-of-type(3) {
    position: absolute;
    left: auto;
    top: 41% !important;
    right: 4%;
}
.hexa-secure-logo-frontdesk ul li:nth-of-type(2) {
    position: absolute;
    left: 39%;
    top: -50px;
    bottom: auto;
}
.main-page-div {
    height: 100% !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* .hexa-secure-logo-bottom-super ul li:nth-child(5) {
    position: absolute;
   bottom: -4%;
    right: 26%;
    top: auto;
}
.hexa-secure-logo-bottom-super ul li:nth-child(6) {
    position: absolute;
    bottom: 5%;
    right: 11%;
    top: auto;
}

.hexa-secure-logo-bottom-super ul li:nth-child(7) {
     position: absolute;
    left: 25% !important;
    bottom: -13% !important;
} 

.hexa-secure-logo-bottom-super ul li:nth-child(8) {
    position: absolute;
    left: 40% !important;
    bottom: -14% !important;
} */
/*********************** /Login-Page******************/

@media screen and (max-width: 680px) {
    
	
.hexa-secure-logo-bottom ul li { transform: scale(0.7) !important; }
.hexa-secure-logo-bottom ul li p { max-width: 110px; }


.right-hide {
    display: none;
}
.secure-menu-button .container .row {
    gap: 12px;
    justify-content:center;
    margin-top: 40px;
}
.main-page-div-inner {
    position: unset;
    transform: unset;
}
.main-page-div {
    height: 100%;
    min-height: 100vh;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.secure-menu-button a {
    font-size: 15px;
}
.hexa-secure-logo-bottom ul li:first-of-type {
     left: -7%;
     top: 50%;
}
.hexa-secure-logo-bottom ul li:nth-of-type(2) {
    left: -8%;
    top: 27%;
}
.hexa-secure-logo-bottom ul li:nth-of-type(3) {
    left: -3%;
    top: 8% !important;
}
.hexa-secure-logo_menu img {
    padding-left: 10px;
}
.hexa-secure-logo-bottom ul li:nth-of-type(4) {
    right: auto;
    top: -7%;
    left: 33px;
}
.hexa-secure-logo-bottom ul li:nth-of-type(5) {
    left: 27%;
    bottom: 70%;
}
 .hexa-secure-logo-bottom ul li:nth-of-type(6) {
      left: 50%;
     bottom: 54%;
}
.hexa-secure-logo-bottom ul li:nth-of-type(9) {
        right: 26%;
        bottom: -19%;
 }
.hexa-secure-logo-bottom ul li:nth-of-type(8) {
    right: 50% ! IMPORTANT;
    bottom: -18%;
    left: auto;
 }
.hexa-secure-logo-bottom ul li:nth-of-type(10) {
     right: 5%;
     bottom: -10%;
 }
.hexa-secure-logo-bottom ul li:nth-of-type(12) {
      right: 0%;
      top: 46%;
     bottom: auto;
}
 .hexa-secure-logo-bottom ul li:nth-of-type(13) {
     right: -5%;
     top: 20%;
}
.hexa-secure-logo-bottom ul li:nth-of-type(11) {
     right: 0%;
     top: auto;
     bottom: 34px;
 }
.hexa-secure-logo-bottom ul li p {
    max-width: 100px;
 }
 .left-back {
    width: 26% ! IMPORTANT;
}
section.secure-datatable-heading-back .col.col-12.col-md-12.col-sm-12 {
    margin-bottom: 0 !IMPORTANT;
    flex-direction: row !important;
}
.center-heading h1 {
    margin: 0 !important;
    font-size: 24px;
}

/*new 2 css*/
.hexa-secure-logo-bottom ul li:nth-of-type(2) {
    position: absolute;
    left: 5%;
    top: 10%;
 }
section.hexa-secure-logo-bottom-super ul li:nth-of-type(3) {
    left: auto;
    bottom: auto;
    position: absolute;
    right: 20px;
    top: 10%!important;
}
section.hexa-secure-logo-bottom-super ul li:first-of-type {
    left: -20px;
    top: auto;
    bottom: 22%;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(4) {
    left: -28px;
    top: auto;
    bottom: 43%;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(6) {
    right: -6px;
    top: auto;
    bottom: 48%;
    left: auto;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(8) {
    right: -4px !important;
    top: auto;
    bottom: 24% !important;
    left: auto !important;
}
.hexa-secure-logo_menu img {
    padding-left: 15px;
}
.hexa-secure-logo-bottom ul li p {
     max-width: 90px;
     margin: auto;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(5) {
    position: absolute;
    bottom: -3% !important;
    top: auto;
    left: auto;
}
section.hexa-secure-logo-bottom-super ul li:nth-of-type(7) {
    right: 15%;
    position: absolute;
    bottom: -6% !important;
    top: auto;
}
body .hexa-secure-logo-bottom {
    margin-bottom: 80px;
}

/*new css three logo*/
.hexa-secure-logo-frontdesk ul li:nth-of-type(2) {
  left: 32% !important;
  top: -30px !important;
}
.hexa-secure-logo-frontdesk ul li:nth-of-type(3) {
    left: auto !important;
    right: -3px !important;
    top: 41% !IMPORTANT;
}
.hexa-secure-logo-frontdesk ul li:first-child {
  left: -10px !important;
  top: 41% !important;
}
.hexa-secure-logo_menu img {
  padding-left: 15px;
}

.scanner-logo-image img { width: 100%; max-width: 140px; margin: 0 0 30px 0; }
body .scanner-bg-black { margin: 20px auto 30px auto; max-width: 450px; background: #000000; padding: 45px 35px;  width: 90%; }
.scanner-image img { max-width: 170px; }
.login-div-sec { margin-top: 0; margin-bottom: 70px; }

.logo-div .col-left img { float: left; width: 100%; max-width: 100px; }	
.logo-div .col-right { display: inline-block; }
.logo-div .col-right span.lang-text { margin-bottom: 5px; }
.login-div-sec .row { display: block; max-width: 95%; margin: 0 auto; }
.login-div-sec .row > .col { width: 100% !important }
.login-div .row .col-left { text-align: center; padding-bottom: 0; }
.login-div .row .col-left img { width: 70%; }
.login-div .row .col-right { margin-top: -15px; }

}

@media (min-width: 0px) and (max-width: 640px) {
div#example_length {
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}
div#example_length label {
    width: 100%;
    text-align: left;
}
 div#example_wrapper div#example_length select {
    width: calc(100% - 100px);
}	
div#example_filter {
    float: left;
    width: 100%;
}
div#example_filter label {
    float: left;
    width: 100%;
    text-align: left;
}
div#example_wrapper div#example_filter input[type="search"] {
    width: calc(100% - 66px);
}
section.secure-datatable-heading-back .col.col-12.col-md-12.col-sm-12 {
    align-items: center;
    display: flex;
    margin: 0 0 25px 0;
    flex-direction: column;
}
.secure-datatable-heading-back .col.col-12.col-md-12.col-sm-12 > div {
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
}
}

@media(min-width:0px) and (max-width:767px) {
.hexa-secure-logo.text-center { margin: 15px 0 15px 0; }
.main-page-div { height: calc(100vh - 72px); }
.secure-check-footer p { color: #ffffff; text-align: center; max-width: 100%; float: none; margin: 0 0 0 0; padding: 12px 0 12px 0; }
.secure-check-footer p span { color: #ffffff; text-align: center; width: 100%; display: inline-block; }

.hexa-secure-logo.hexa-secure-logo-bottom { margin: 70px 0 80px 0; }

}

@media(min-width:0px) and (max-width:991px) {
.top-bar-navbar button.navbar-toggler { margin-top: -10px; } 
.top-bar-navbar div#navbarSupportedContent ul.navbar-nav li { margin: 3px 0 3px 0; }	
	
}

@media(min-width:0px) and (max-width:1100px) {
.main-page-div { height: calc(100vh - 72px); }
}

@media(max-width:  680px){

    .mdc-data-table__pagination-total {
        width: fit-content;
        text-align: left;
        margin-right: 10px ! IMPORTANT;
        text-align: left;
        margin:0px !important;
    } 
    .mdc-data-table__pagination-navigation {
        align-items: center;
        display: flex;
    }
    .mdc-pagination .mdc-button {
        height: 26px !important;
        width: 12px !important;
    }
    table.table.table-striped {
        width: 100%;
        overflow-x: scroll;
        max-width: 100%;
        display: inline-block;
    }  
    section.request-meeting.meeting-form form > div {
        padding: 0 !important;
    }
    section.background-gradi.request-meeting.qr_form.meeting-form {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bt_bottom.event_button_new {
        margin-top: 0 !important;
    }
    .qr_form_main form.mt-5 > div {
        width: 100% !important;
    }
    section.request-meeting.meeting-form form .submit-button input[type="submit"] {
        width: fit-content;
        float: right;
    }
    section.request-meeting.meeting-form form > div {
        width: 100% !important;
    }
    section.request-meeting.meeting-form {
        margin-top: 30px;
    }
    section.request-meeting.meeting-form {
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .d-flex.justify-content-start.mb-4.gap-3.align-items-center {
        margin: 0 !IMPORTANT;
        padding-top: 20px;
    }
    body .scanner-bg-black .capture-button {
        width: 100%;
    }
    body .scanner-bg-black .menu-button {
        width: 100%;
    }
    .scanner-image img {
        margin-top: 0 !IMPORTANT;
    }
    .event_qrcode_button {
        padding: 0px 15px !important;
    }
        
}
